<my-generic-loader *ngIf="loading"></my-generic-loader>
<div class="container my-container">
  <form>
    <div class="row">
      <div class="col-sm-8">
        <div class="form-group">
          <input type="text" class="form-control" name="inputNew" placeholder="Ingredient" [(ngModel)]="inputNewIngredientName">
        </div>
      </div>
      <div class="col-sm-4">
        <button [disabled]="inputNewIngredientName == ''" type="submit" class="btn btn-primary btn-block" (click)="createIngredient()">
          <i class="fas fa-plus"></i>
          Ajouter
        </button>
      </div>
    </div>
  </form>
  <!-- Table -->
  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Ingredient</th>
      <th scope="col">Options</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ingredient of ingredients">
      <th scope="row" class="row">{{ingredient.name}}</th>
      <td><div class="my-pointer" (click)="setEditedIngredient(ingredient)" data-toggle="modal" data-target="#modalEdit"><i class="fas fa-pencil-alt my-primary"></i></div></td>
      <td><div class="my-pointer" (click)="openModal(contentModal, ingredient)"><i class="fas fa-trash my-warning"></i></div></td>
    </tr>
  </tbody>
</table>
</div>
<!-- Modal edit -->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modalEditTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <i class="fas fa-pencil-alt"></i>
          <span class="my-margin-left">Modifier l'ingrédient</span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="text" class="form-control" name="inputEdit" placeholder="Ingredient" [(ngModel)]="editedIngredient.name">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="editIngredient()" data-dismiss="modal">Modifier</button>
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal confirm -->
<ng-template #contentModal let-c="close" let-d="dismiss">
  <div class="modal-body my-text">
    <p>Supprimer ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="c('delete')">Oui</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('cancel')">Non</button>
  </div>
</ng-template>
