<my-generic-loader *ngIf="loading"></my-generic-loader>
<div class="container my-container">
  <form>
    <div class="row">
      <div class="col-sm-8">
        <div class="form-group">
          <input type="text" class="form-control" name="input" placeholder="Ingredient" [(ngModel)]="inputNewIngredientName">
        </div>
      </div>
      <div class="col-sm-4">
        <button [disabled]="inputNewIngredientName == ''" type="submit" class="btn btn-primary btn-block" (click)="createIngredient()">
          <i class="fas fa-plus"></i>
          Ajouter
        </button>
      </div>
    </div>
  </form>
  <!-- Table -->
  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Ingredient</th>
      <th scope="col">Options</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ingredient of ingredients">
      <th scope="row" class="row">{{ingredient.name}}</th>
      <td><div class="my-pointer"><i class="fas fa-pencil-alt my-primary"></i></div></td>
      <td><div class="my-pointer" (click)="openModal(contentModal, ingredient)"><i class="fas fa-trash my-warning"></i></div></td>
    </tr>
  </tbody>
</table>
</div>
<!-- Modal -->
<ng-template #contentModal let-c="close" let-d="dismiss">
  <div class="modal-body my-text">
    <p>Supprimer ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="c('delete')">Oui</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('cancel')">Non</button>
  </div>
</ng-template>
