<div class="container my-container">
  <my-generic-loader *ngIf="loading"></my-generic-loader>
  <ngb-tabset *ngIf="lists" #tabLists="ngbTabset">
  <!-- Tabs lists -->
  <ngb-tab *ngFor="let list of lists" title="{{list.name}}" id="{{list.name}}">
    <ng-template ngbTabContent>
      <my-generic-list *ngIf="!loading" [list]="list" (refreshDataEvent)="refreshLists($event)"></my-generic-list>
    </ng-template>
  </ngb-tab>

  <!-- Tab add -->
  <ngb-tab>
    <ng-template ngbTabTitle>
      <i class="fa fa-plus" aria-hidden="true"></i>
    </ng-template>
    <ng-template ngbTabContent>
      <br/>
      <my-generic-list-create (refreshDataEvent)="refreshLists($event)"></my-generic-list-create>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

<!-- If no lists -->
<my-generic-list-create *ngIf="!lists" (refreshDataEvent)="refreshLists($event)"></my-generic-list-create>
</div>
