<my-generic-loader *ngIf="loading"></my-generic-loader>
<h4 class="my-margin-top">Créer une liste</h4>
<div class="form-group">
  <div class="input-group">
    <div class="input-group-addon">
      <i class="fas fa-list" aria-hidden="true"></i>
    </div>
    <input myAutofocus type="text" class="form-control" placeholder="Nom" (keydown)="handleKeyDown($event)" [(ngModel)]="name">
  </div>
</div>
<button type="button" class="btn btn-primary" [disabled]="name == ''" (click)="create()">Valider</button>
