<nav class="navbar navbar-toggleable-sm navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">{{title}}</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li *ngFor="let item of items" class="nav-item my-pointer" [ngClass]="{'active' : isActive(item.link)}">
        <a class="nav-link" [routerLink]="[item.link]">
          <i [ngClass]="item.icon" class="white" aria-hidden="true"></i>
          <span class="my-margin-left">{{item.name}}</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-utensils white" aria-hidden="true"></i>
          <span class="my-margin-left">Cuisine</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#/recipe">Recettes</a>
          <a class="dropdown-item" href="#/ingredient">Ingrédients</a>
          <a class="dropdown-item" href="#">Qu'est-ce qu'on mange ?</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
