<nav class="navbar navbar-toggleable-sm navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <i class="fa fa-list" aria-hidden="true"></i>  {{title}}
  </a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item my-pointer" *ngFor="let item of items">
        <a class="nav-link" [routerLink]="[item.link]" [routerLinkActive]="'is-active'">{{item.name}}</a>
      </li>
    </ul>
  </div>
  <!-- <div *ngIf="loggedUser">
    <p class="my-nav-right-part">Bonjour <strong>{{loggedUser.name}}</strong>.</p>
  </div> -->
</nav>

<router-outlet></router-outlet>
