<my-generic-loader *ngIf="loading"></my-generic-loader>
<div class="container my-container">
  <h2>Authentification</h2>
  <form name="form" #f="ngForm" novalidate>
    <div class="form-group">
      <label for="name">Identifiant</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="user.name" #name="ngModel" required/>
      <div *ngIf="displayInputNameWarning" class="alert alert-warning my-margin-top">
        L'<strong>identifiant</strong> est déjà utilisé.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="user.password" #password="ngModel" required/>
    </div>
    <div *ngIf="displayWrongLogin" class="alert alert-danger my-margin-top">
      Mauvais <strong>identifiant</strong> ou <strong>mot de passe</strong>.
    </div>
    <div *ngIf="displaySuccessLogin" class="alert alert-success my-margin-top">
      Le compte <strong>{{successLogin}}</strong> a été créé.
    </div>
    <div class="form-group">
      <button [disabled]="!f.valid" class="btn btn-primary" (click)="login()">Se connecter</button>
      <button [disabled]="!f.valid" class="btn my-margin-left" (click)="register()">S'inscrire</button>
    </div>
  </form>
</div>
