<my-generic-loader *ngIf="loading"></my-generic-loader>
<div class="container my-container">
  <h2>Authentification</h2>
  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <div class="form-group">
      <label for="name">Identifiant</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="user.name" #name="ngModel" required/>
      <div *ngIf="f.submitted || displayInputError && !name.valid" class="alert alert-dismissible alert-danger my-margin-top">
        L'<strong>identifiant</strong> est obligatoire.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="user.password" #password="ngModel" required/>
      <div *ngIf="f.submitted || displayInputError && !password.valid" class="alert alert-dismissible alert-danger my-margin-top">
        Le <strong>mot de passe</strong> est obligatoire.
      </div>
    </div>
  </form>
  <div *ngIf="displayInputNameWarning" class="alert alert-warning my-margin-top">
    L'<strong>identifiant</strong> est déjà utilisé.
  </div>
  <div class="my-row">
    <button class="btn btn-primary" (click)="login()">Se connecter</button>
    <button class="btn my-margin-left" (click)="register()">S'inscrire</button>
  </div>
</div>
