.loader {
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    position:fixed;
}

.my-card-item { font-size: 20px; }

.my-flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.my-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-cross { color: #BDBDBD; }

.my-text-done { text-decoration:line-through; }
.my-icon-done { color: #4CAF50;}
.my-icon-not-done { color: #03A9F4;}
