.my-small-title {
  font-size: 15px;
}

.my-hover-underline :hover {
  text-decoration: underline;
}

.my-text-footer {
  color: grey;
  font-style: italic;
}

.favorite:hover {
  color: #F44336;
}

.my-recipe-list {
  /* height: 100vh; */
  height: calc(100vh - 135px);
  overflow-y: auto;
}
