<!-- Admin layout -->
<div class="my-row-between my-margin-top">
  <div>
    <button type="button" class="btn btn-primary" (click)="refreshItems()">
      <i class="fas fa-sync" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-info" (click)="setListGridOption('col-md-6')">
      <i class="fas fa-th-large" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-info" (click)="setListGridOption('col-md-4')">
      <i class="fas fa-th" aria-hidden="true"></i>
    </button>
  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="addNewItem()">
      <i *ngIf="!modeAddItem" class="fas fa-plus" aria-hidden="true"></i>
      <i *ngIf="modeAddItem" class="fas fa-times" aria-hidden="true"></i>
    </button>
    <button dnd-droppable (onDropSuccess)="deleteItem($event)" type="button" class="btn btn-warning" oninvalid="" (click)="openModal(contentModal)">
      <i class="fas fa-trash" aria-hidden="true"></i>
    </button>
  </div>
</div>
<my-generic-loader *ngIf="loading" style="margin-top: 20px;"></my-generic-loader>
<div *ngIf="!loading">
  <!-- List -->
  <ul class="list-group my-margin-top">
    <li class="list-group-item active">A faire ({{filterItems(false).length}})</li>
    <li class="list-group-item" dnd-sortable-container [sortableData]="items">
      <div class="row">
        <div [ngClass]="listGridOption" *ngFor="let item of filterItems(false); let i = index" dnd-draggable [dragEnabled]="true" [dragData]="item" dnd-sortable [sortableIndex]="i">
          <my-generic-item [item]="item"></my-generic-item>
        </div>
      </div>
      <input style="margin-top: 20px;" myAutofocus *ngIf="modeAddItem" type="text" class="form-control" placeholder="Item" (keydown)="handleKeyDown($event)" [(ngModel)]="inputNewItemName">
    </li>
  </ul>
  <ul class="list-group my-margin-top">
    <li class="list-group-item active">Faits ({{filterItems(true).length}})</li>
    <li class="list-group-item" dnd-sortable-container [sortableData]="items">
      <div class="row">
        <div [ngClass]="listGridOption" *ngFor="let item of filterItems(true); let i = index" dnd-draggable [dragEnabled]="true" [dragData]="item" dnd-sortable [sortableIndex]="i">
          <my-generic-item [item]="item"></my-generic-item>
        </div>
      </div>
    </li>
  </ul>
</div>

<!-- Modal -->
<ng-template #contentModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('cancel')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Cliquer sur 'supprimer' effacera la liste et tous les items associés.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="c('delete')">Supprimer</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('cancel')">Annuler</button>
  </div>
</ng-template>
