<ngb-tabset *ngIf="lists">
  <!-- Tabs lists -->
  <ngb-tab *ngFor="let list of lists" title="{{list.name}}">
    <ng-template ngbTabContent>
      <!-- Admin layout -->
      <div class="my-card-admin my-margin-top">
        <div>
          <button type="button" class="btn btn-info" (click)="selectAll(true)">
            <i class="fa fa-check-square" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-info" (click)="selectAll(false)">
            <i class="fa fa-window-close" aria-hidden="true"></i>
          </button>
        </div>
        <div>
          <button type="button" class="btn btn-primary" (click)="open(content)">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-warning">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <!-- List -->
      <ul class="list-group my-margin-top">
        <li class="list-group-item active">A faire ({{filterItems(false).length}})</li>
        <li class="list-group-item">
          <my-generic-item *ngFor="let item of filterItems(false)" [item]="item"></my-generic-item>
        </li>
      </ul>
      <ul class="list-group my-margin-top">
        <li class="list-group-item active">Faits ({{filterItems(true).length}})</li>
        <li class="list-group-item">
          <my-generic-item *ngFor="let item of filterItems(true)" [item]="item"></my-generic-item>
        </li>
      </ul>
    </ng-template>
  </ngb-tab>

  <!-- Tab add -->
  <ngb-tab>
    <ng-template ngbTabTitle>
      <i class="fa fa-plus" aria-hidden="true"></i>
    </ng-template>
    <ng-template ngbTabContent>
      <br/>
      <my-generic-list-create></my-generic-list-create>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

<!-- Modal -->
<ng-template #content let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">Ajouter un item</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Nom">
    </div>
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="dd/mm/yyyy" name="dp" [minDate]="minDate"
        [(ngModel)]="inputDate" ngbDatepicker #d="ngbDatepicker">
        <button class="input-group-addon" (click)="d.toggle()" type="button">
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="createItem()">Valider</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Fermer</button>
  </div>
</ng-template>

<!-- If no lists -->
<div *ngIf="!lists">
  <my-generic-list-create></my-generic-list-create>
</div>
