@import "~@ng-select/ng-select/themes/default.theme.css";
@import "./assets/css/loading.css";
@import "./assets/css/boostwatch.css";

@media screen and (max-width: 500px) {
    .my-hide-mobile {
        display: none;
    }
}

/** Main */
body { padding-top: 60px; }

.my-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-pointer { cursor: pointer; }

.my-text {
  font-family: Arial, verdana, sans-serif;
}

/** Margins */
.my-margin {
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.my-lg-padding {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.my-margin-bottom { margin-bottom: 5px; }
.my-margin-top { margin-top: 5px; }
.my-margin-right { margin-right: 5px; }
.my-margin-left { margin-left: 5px; }

/** Colors */
.white { color: #fff; }
.grey { color: #9E9E9E; }
.green { color: #4CAF50; }
.light-blue { color: #03A9F4; }

.my-info { color: #5bc0de; }
.my-primary { color: #158CBA; }
.my-warning { color: #f0ad4e; }
.my-bg-grey { background-color: #EEEEEE;}

.my-date-picker {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/** Layouts */
.my-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.my-row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-row-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/** Display */
.my-hide { display: none; }
